<eni-carbon-footprint-form />

<ul>
  <li [textContent]="'Distance totale : ' + distanceKm + 'km'"></li>
  <li [textContent]="'Consommation aux 100km : ' + consommationPour100Km"></li>
  <li [textContent]="'Empreinte carbone : ' + quantiteCO2Totale + ' kg'"></li>
</ul>

@if (consommationPour100Km > 7) {
  <p [class]="isLowOrHigh()">Attention, votre consommation est élevée.</p>
} @else if (consommationPour100Km < 4) {
  <p [class]="isLowOrHigh()">Félicitations, votre consommation est faible.</p>
}

@if (distanceKm > 500) {
  <p [class]="isFartherOrCloser()">Votre distance est grande, plus de 500km.</p>
} @else if (distanceKm < 100) {
  <p [class]="isFartherOrCloser()">Vous avez parcouru une faible distance.</p>
}

<button (click)="ajouter100Km()">Ajouter 100km</button>

<h2>Liste des voyages</h2>

@if (loadingVoyages) {
  <div>Chargement des voyages en cours...</div>
}

@if (!loadingVoyages) {
  <table>
    <thead>
    <tr>
      <th>Distance</th>
      <th>Consommation pour 100 km</th>
      <th>Quantité CO2</th>
    </tr>
    </thead>
    <tbody>
      @for (voyage of voyages; track voyage.id) {
        <tr>
          <td [textContent]="voyage.distanceKm"></td>
          <td [textContent]="voyage.consommationPour100Km"></td>
          <td [textContent]="tronquerAffichageNombre(voyage.quantiteCO2)"></td>
        </tr>
      }
    </tbody>
  </table>
}
<button (click)="genererVoyage()">Générer voyage</button>
